.indicator{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  &__icon{
    margin-right: 10px;
    margin-top: 6px;
    color: $color-main;
    font-size: 30px;
  }

  &__value{
    white-space: nowrap;
    color: $color-main;
    font-size: 16px;
    font-weight: 500;
    @media (max-width: $screen-mobile) {
      white-space: inherit;
    }
  }
  
  &__description{
    color: $color-main;
    font-size: 14px;
    font-weight: 500;
  }
  
}
